[Unit]
Description=Robot Streaming Service
After=network.target

[Service]
Type=simple
User=pi
ExecStart=/usr/bin/ffmpeg -f v4l2 -i /dev/video0 -input_format mjpeg -vcodec h264_v4l2m2m -video_size 1024x768 -preset ultrafast -tune zerolatency -f flv rtmp://10.198.60.1/live/robot
Restart=on-failure

[Install]
WantedBy=multi-user.target
